<ul>
    <li><a href="https://www.facebook.com/The-Smith-EnsembleThe-Smith-Six-111154203733766"><img src="../../assets/icons/f_Logo_Online_04_2019/black/PNG/f_logo_RGB-Black_72.png" alt=""></a></li>

    <li><a class="dropdown-item" href="https://open.spotify.com/artist/6Hv6vKcfx47sl3nnZYZgTa?si=zXnJgX_FT5GDVgeSrbBD-Q"><img src="../../assets/icons/spotify-icons-logos/icons/01_RGB/02_PNG/Spotify_Icon_RGB_Black.png" alt=""></a></li>

    <li><a class="dropdown-item" href="https://music.apple.com/us/artist/the-smith-ensemble/1362320518"><img src="../../assets/icons/black.svg" alt=""></a></li>

    
    <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCopgCKjuGoriM1_99KDrdJQ"><img src="../../assets/icons/youtube_monochrome_light_icon/social/64px/dark/youtube_social_circle_dark.png" alt=""></a></li>

</ul>