<button mat-menu-item><a class="dropdown-item" href="https://open.spotify.com/artist/6Hv6vKcfx47sl3nnZYZgTa?si=zXnJgX_FT5GDVgeSrbBD-Q">Spotify</a></button>

        
<button mat-menu-item><a class="dropdown-item" href="https://music.apple.com/us/artist/the-smith-ensemble/1362320518">Apple Music</a></button>
 
<button mat-menu-item class="dd-item"><a class="dropdown-item" href="https://www.amazon.com/Things-Come-Thee-Smith-Ensemble/dp/B08CBLMJF5/ref=sr_1_1?dchild=1&keywords=all+things+come+of+thee&qid=1595090492&sr=8-1">Amazon Music</a></button>
      
<button mat-menu-item><a class="dropdown-item" href="https://www.youtube.com/channel/UCopgCKjuGoriM1_99KDrdJQ">Youtube</a></button>
 
<button mat-menu-item><a class="dropdown-item" href="https://www.heirloomartco.com/products/the-smith-ensemble-all-things-come-of-thee?_pos=1&_sid=2085e6cd3&_ss=r">Buy a CD</a></button>
