
<div class="container video-body">  
    
<div class="row">
    <div class="col">
          <h1 >About Us</h1>
    </div>
</div>

    <div class="row">

        <div class="col-md-12 text-center my-text-info">
          
            <img class="center" src="../../assets/images/SmithEnsemblePics/SmithEnsemble-About.jpg">

           <h3>THE SMITH ENSEMBLE</h3>  


<p>The Smith Ensemble formed as a result of many family gatherings through the years, which oft times included singing together favorite choral music around the piano in our living room. The ensemble is made up of two parents, eight of their children, and two sons-in-law. This recording was born out of the desire to share our love of faith, family, and friends. We hope you feel Heaven's light and love through the inspirational messages found within these anthems and sacred songs.</p>

 
<p>
We are forever indebted to our parents, Fairon and Carolyn Smith, and Fred and Naomi Bonney, who instilled in us at an early age a love of great and inspiring music, who believed in, and supported us through our formative years of musical training, and who have continued to be our greatest fans. We dedicate this humble musical offering to them! </p>

 

<p>Further, this CD project never would have materialized without the interest, vision, encouragement, and generous support of Blake and Nancy Roney, and Brad and Shanda Roberts. These dear friends saw something in us that we didn’t see in ourselves. For this we express our deepest gratitude!</p>
       
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-12 text-center my-text-info">

            <img class="center" src="../../assets/images/SmithEnsemblePics/SmithSix-About.jpg">
            <h3>THE SMITH SIX</h3>

 
<p>  While working on All Things Come of Thee, a recording by The Smith Ensemble, the question was asked of us, “What about a Smith Six recording?” Up until then we hadn’t considered that prospect, but with the encouragement of dear friends we immediately went to work. The bulk of Brightly Beams was completed within a three week period (December 2018). Our time was especially limited as our son Asher, the oldest member of the group, would be departing for a church mission January 2, 2019. Somehow, in the end, it all came together!</p>
          
            
            <p>      The Smith Six comprises the youngest siblings of The Smith Ensemble. They learned they could sing in harmony while waiting for their dad in a grocery store parking lot. With no ukelele handy they began to arrange, a cappella, the song, Can't Help Falling in Love, made famous by Elvis Presley. Once following a family concert for a Kiwanis Club luncheon, someone commented that they “sounded like the young Osmonds.”  Upon returning home, the kids looked up some early Osmond Brothers performances from the Andy Williams Show. Quickly hooked, they promptly started learning a few of these same barbershop numbers, branching out from there. Hence, The Smith Six were “born.”   </p>
            
       
            
            <p> With the diverse collection of songs and styles found in this recording, it is our desire that the listener will also find hope, peace, faith, love, and a bit of fun.</p>
           
            
            <p>   The late Fairon Smith, Grandfather to The Smith Six, spent 27 years in the US Navy. His most beloved hymn, unquestionably due to his long naval career, was Brightly Beams Our Father’s Mercy. While “Graumpy” is no longer with us, we believe he would be pleased with this recording, and humbly dedicate Brightly Beams to him.</p>
         
        </div>
       

    </div>


</div>