<div class="container">
<div class="row">

    <div class="col-md">

        <div class="contact-us">
            <h1>Contact Us</h1>
        
        <div class="hello-info"> 
            <!-- background image here -->
            If you have any questions or schedule something don't hesitate to email.
        </div>

        
        </div>
        


    </div>

</div>


    <div class="row">
        <div class="col-md">
            <div class="contact-info">
             <h3>Manager Email </h3><br> <div class="my-email">   SmithEnsemble@gmail.com</div>
           
         </div>
  <div class="contact-info">
         Smith Six facebook Page
            <!-- put Facebook link here for Smith six -->
     </div>

     </div>
  
      
     

    </div>

</div>


<div class="container">

    
</div>