<div class="container">
    <div class="row">
        <div class="col p-2">
            <img class="center" src="../../assets/images/SmithEnsemblePics/SmithSixBridge_wText.jpg">
        </div>
    </div>
   
    <div class="row">
        <div class="col-md">


        <div class="listen-now top-right">
                <h2>Our New Album</h2>
               <div class="my-container">
                <a href="https://www.heirloomartco.com/products/the-smith-six-brightly-beams?pr_prod_strat=copurchase&pr_rec_pid=6164485800110&pr_ref_pid=4996202496136&pr_seq=uniform">   
                <img class="cd-album-cover " src="../../assets/images/SmithEnsemblePics/CDSmithSix.png">
               <img class="album-cover" src="../../assets/images/SmithEnsemblePics/Smith-SixCDsmall.png"></a>
            </div>
                
        </div>

 <!-- <button type="button" class="btn btn-primary buy-cd">Buy a CD</button> -->
            
        </div>
    </div>

<!-- <div class="row">
    <div class="col">
        <div class="vid">

            <div >
                <iframe class="featured-vid" width="75%" height="315px 
                " src="https://www.youtube.com/embed/GZDnCmSxnSY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
             </div>
        </div>

    </div>
</div> -->
<app-icons-smithsix></app-icons-smithsix>

</div>