

<div class="container">

    <div class="row">
        <div class="col-md">
            <img class="center" src="../assets/images/SmithEnsemblePics/SmithEnsemble-Cover.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md">


        <div class="listen-now top-right">
                <h2>Our New Album</h2>
            <!-- Fixed the cd is part of the link. -->
               <div class="my-container">
                <a href="https://www.heirloomartco.com/products/the-smith-ensemble-all-things-come-of-thee?_pos=1&_sid=2085e6cd3&_ss=r"><img class="cd-album-cover " src="../../assets/images/SmithEnsemblePics/cd-vector.png"><img class="album-cover" src="../../assets/images/SmithEnsemblePics/front.png"></a>
            </div>
                
        </div>

 <!-- <button type="button" class="btn btn-primary buy-cd">Buy a CD</button> -->
            
        </div>
    </div>


    <div class="row">
        <div class="col">
            <!-- <p>Or Check us out at these websites:</p> -->
            <app-icons-ensemble></app-icons-ensemble>

        </div>
    </div>
    

 
</div>