<button mat-menu-item><a class="dropdown-item" href="https://open.spotify.com/artist/6mLRhAP6bci5WQQYFNZZWO?si=ty5VILwMQsy6W98fWFMdaQ">Spotify</a></button>
  
          
<button mat-menu-item><a class="dropdown-item" href="https://music.apple.com/us/artist/the-smith-six/1524680457">Apple Music</a></button>


 <button mat-menu-item><a class="dropdown-item" href="https://www.youtube.com/watch?v=Bt5KjlZFv-4&list=PL8LbCtyXa1xWy8wsPclqszd56RanSB63r">Youtube</a></button>

 <button mat-menu-item><a class="dropdown-item" href="https://www.heirloomartco.com/products/the-smith-six-brightly-beams?_pos=1&_sid=c6799a449&_ss=r">Buy a CD</a></button>
